<div ng-controller="AudioSessionController" id="sb-audio">
    <div class="row">
        <audio ng-src="{{ src | trusted }}" controls preload="auto">  </audio>
    </div>
    <div class="sb-audio-controls row" style="padding-top: 10px;">
        <div style="float:left; width:50%">
            <button ng-click='rw(30)' style="width:100%" class="btn btn-default"> -30 Seconds </button>
        </div>

        <div style="float:left; width:50%">
            <button ng-click='ff(30)' style="width:100%" class="btn btn-default"> +30 Seconds </button>
        </div>
    </div>
</div>

<style>
    #sb-audio button {
        width:50%;
    }
</style>