<link rel="stylesheet" type="text/css" href="css/podcast/episode/show.css"/>

<div class="container well">
    <div class="col-md-4" ng-include src="'/partials/show/show.html'"></div>
    <div class="col-md-8">
        <div class="row" style="padding-left:10px">
            <div id="episode-head" class="row">
                <div id="episode-name" class="col col-md-10">
                    <h1> <% episode.name %> </h1>
                </div>

                <div id="episode-rating" class="col col-md-2">
                    <button type="button" class="btn btn-default" title="Average Rating">
                        <span class="glyphicon glyphicon-star"></span> <% episode.rating | rating %>
                    </button>
                </div>
            </div>
            <hr>
            <div id="episode-published-at">
                <small> <% episode.published_at | date: 'fullDate'%> </small>
            </div>
            <div id="episode-desc"> <% episode.description %> </div>
            <hr>
            <div class="row rating" style="text-align: center">
                <sb-rating max="5" initrating="episode.user_rating"></sb-rating>
            </div>
            <div id="episode-src" class="container">
                <sb-audio src="episode.src">
                </sb-audio>
            </div>
        </div>
    </div>
</div>